/* Estilos gerais */
#produtos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#conteudoProdutos {
    width: 100%;
    display: flex;
    gap: 24px;
    margin-top: 32px;
    flex-wrap: wrap;
    justify-content: center;
}

.produto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    gap: 18px;
    height: 500px;
    width: 25%;
    padding: 20px;
    background-color: var(--color-neutral-0);
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

.produto:hover{
    scale: 1.02;
}

.produto img {
    width: 100%;
    height: auto;
    max-height: 190px;
    object-fit: cover;
}

.nome-produto {
    font-weight: bold;
}

.valor-produto {
    font-weight: bold;
}

.div-heart {
    position: absolute;
    background-color: var(--color-primary-6);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.563rem;
    color: var(--color-primary-1);
    width: 70px;
    height: 70px;
    right: -10px;
    top: -10px;
    border-radius: 0px 37.5px 0px 42.5px;
}

.div-heart img{
    height: 30px;
    width: auto;
    
}

.filter-text {
    color: var(--color-primary-6);
    font-size: 1rem;
    font-weight: bold;
}

#filtro {
    border: solid 2px;
    border-radius: 10px;
}

.div-alinhar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f0f0f0;
    padding: 2px 6px;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 220px;
    /* Ajuste conforme necessário */
}

.search-bar i {
    color: #666;
    font-size: 1.0em;
    margin-right: 8px;
}

.search-bar input[type="text"] {
    border: none;
    outline: none;
    padding: 4px;
    border-radius: 25px;
    flex: 1;
    background: transparent;
    color: #333;
    font-size: 0.8em;
}

.search-bar input[type="text"]::placeholder {
    color: #aaa;
}

/* Estilo do botão de rolar para o topo */
.scroll-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #4CAF50;
    color: white;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    padding: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 1000;
    transition: opacity 0.3s ease;
}

.scroll-to-top-btn i {
    font-size: 18px;
}

.scroll-to-top-btn:hover {
    scale: 1.1;
}

.mobile-search-bar {
    display: none;
}

.mobile-search-bar {
    background: #f0f0f0;
    padding: 2px 6px;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 220px;
    /* Ajuste conforme necessário */
}

.mobile-search-bar i {
    color: #666;
    font-size: 1.0em;
    margin-right: 8px;
}

.mobile-search-bar input[type="text"] {
    border: none;
    outline: none;
    padding: 4px;
    border-radius: 25px;
    flex: 1;
    background: transparent;
    color: #333;
    font-size: 0.8em;
}

.mobile-search-bar input[type="text"]::placeholder {
    color: #aaa;
}

/* Ajustes para dispositivos com largura máxima de 1170px */
@media screen and (max-width: 1170px) {
    #conteudoProdutos {
        flex-wrap: wrap;
        justify-content: center;
    }

    .produto {
        width: calc(50% - 12px);
    }

    .search-bar {
        display: none;
    }

    .mobile-search-bar {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .mobile-search-bar {
        padding: 2px 6px;
        width: 100%;
        max-width: 100%;
        
    }
}

@media screen and (max-width: 600px) {
    .produto {
        width: 100%;
    }

    .descricao-produto {
        text-align: center;
    }

    .produto img {
        max-height: 300px;
    }

    .mobile-search-bar {
        padding: 2px 6px;
        width: 100%;
        max-width: 100%;
        
    }
    
   
}

.valor-produto{
    display: none;
}